.pages {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.page {
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0px, 15px;
    cursor: pointer;
}

.current_page {
    border: 2px solid gray;
    font-weight: 700;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0px, 15px;
    cursor: pointer;
}
