.moviesContainer {
    overflow: hidden;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 30px;
    display: flex;
}

.seachRezult {
    font-weight:700;
    font-size: 18px;
    margin-bottom: 15px;
}

