.movieInner {
    width: 200px;
    height: 430px;
    float: left;
    display: flex;
    flex-direction: column;
}

.movieImg {
    width: 180px;
    height: 230px;
    border-radius: 10%;
}

.description {
    font-size: 18px;
}

