.headerContener {
    height: 70px;
    width: 100%;
    background-color: rgb(186, 218, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%
}

.nameWeb {
    font-size: 25px;
    margin-left: 50px;
    color: black;
    font-weight: 700;
}

.user {
    color: black;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.userImg {
    width: 30px;
    height: 38px;
    padding-right: 5px;
}
