.header_contener {
    height: 70px;
    width: 100%;
    background-color: rgb(186, 218, 237);
    display: flex;
    justify-content: space-between;
    align-items:center
}

.name_web {
    font-size: 25px;
    margin-left: 50px;
    color:black;
    font-weight:700;
}

.user {
    color: black;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.user_img {
    width: 30px;
    height: 38px;
}